<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.jpaw.de/bonaparte/jpa/dsl/BDDL" 
       class = "de.jpaw.bonaparte.jpa.dsl.bDDL.BDDLPackage"
       genModel = "de/jpaw/bonaparte/jpa/dsl/BDDL.genmodel" /> 
    
  </extension>




</plugin>
